.main
  .mainheader
    .mainheader__left
      %h2.mainheader__left__groupname
        sample
      %ul.mainheader__left__memberlist
        Member:
        %li.mainheader__left__memberlist__name
          test
        %li.mainheader__left__memberlist__name
          hoge
    =link_to "#", class: "edit-link" do
      .edit-link__edit-btn
        Edit
  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class:"input-box__text", placeholder: "type a message"
        = f.label :image, class:"input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "input-box__image__file"
      .send
        = f.submit "Send", class: "send__submit-btn"