.main
  .mainheader
    .mainheader__left
      %h2.mainheader__left__groupname
        = @group.name
      %ul.mainheader__left__memberlist
        Member:
        %li.mainheader__left__memberlist__name
          - @group.users.each do |user|
            = user.name
    .edit-link
      = link_to 'Edit', edit_group_path(params[:group_id]), method: :get
  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class:"input-box__text", placeholder: "type a message"
        = f.label :image, class:"input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "input-box__image__file"
      .send
        = f.submit "Send", class: "send__submit-btn"