.sidebar
  .side-header
    .side-header__box
      = current_user.name
    %ul.side-header__box__menu
      %li.side-header__box__menu__create-group
        = link_to "#" do
          = icon( "fa", "edit", class: "icon_color")
      %li.side-header__box__menu__edit-user
        = link_to edit_user_path(current_user) do
          = icon("fa", "cog", class: "icon_color")
  .groups
    /後にeach文で複数のgroupを表示させるように書き換え？
    .group
      .group__name
        sample
      .group__messages
        message_preview